html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header-wrapper {
	width: 100vw;
	background-color: #252525;
	color: white;
	padding: 2em;
}

#header-wrapper > h1 {
	text-align: center;
}

#header-wrapper > h2 {
	text-align: center;
}

#content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h2.title {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 3px solid rgba(0, 0, 0, 0.9);
}

#bid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bid-value {
  color: rgb(82, 21, 21);
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}

.bid-info {
  color: rgb(118, 121, 138);
  margin: 0;
  padding: .3em 0;
  font-style: italic;
}

#bid-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em 1.1em;
  background-color: rgb(48, 163, 48);
  color: white;
  border-radius: 3px;
  border: 0;
  margin-top: 1em;
  margin-bottom: 2em;
}

#bid-button > span {
  margin-left: 1.5em;
  font-weight: bold;
}