:root {
  --main-dark: #252525;
  --accent-dark: #525252;
  --light-bg: #f7f7f7;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-dark);
  background-color: var(--light-bg);
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

#header-wrapper {
	background-color: var(--main-dark);
  color: white;
  padding: 1em;
}

#header-wrapper h2 {
  font-weight: bold;
  font-size: 2em;
}

#title-wrapper h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  padding: 1.4em;
  font-weight: bold;
}

#bid-section {
  background-color: white;
  padding: 2em 2em 0 2em;
}

.title {
  font-weight: bold;
  color: var(--accent-dark);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bid-value {
  font-size: 4.2em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#bid-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

#bid-button {
  position: absolute;
  top: 20px;
  right: calc(50% - 54px);
}

#bid-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .375rem 1.5rem;
}

#bid-button span {
  font-weight: bold;
  margin-left: 0.4em;
  font-size: 1.4em;
}

#bid-info p {
  margin: 0;
  text-align: right;
  color: var(--accent-dark);
}

#date-section {
  margin-top: 4em;
}

#end-date {
  color: rgb(82, 21, 21);
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}